.idea/
__pycache__/
*.py[cod]

.pytest_tmp/
.pytest_cache/
pytest-cache-files-*/

instance/

data/original/*
data/encrypted/*
data/decrypted/*
data/keys/*
data/test_tmp/

!data/original/.gitkeep
!data/encrypted/.gitkeep
!data/decrypted/.gitkeep
!data/keys/.gitkeep
